$primary-color: rgb(54, 3, 83);
$primary-light: rgb(181, 66, 248);
$primary-bg: rgb(240, 237, 241);
$secondary-color: rgb(255, 81, 0);
$secondary-bg: rgb(245, 239, 237);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  display: inline-block;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  box-shadow: 2px 2px 4px #555;
  &-hero {
    width: 40%;
    height: 5vh;
    margin-top: 20px;
  }
  &-car {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    box-shadow: none;
  }
  &-submit {
    width: 90%;
    margin-bottom: 10px;
  }
  &-link {
    color: #fff;
    display: inline-block;
    width: 100%;
  }
  &-details {
    margin-bottom: 20px;
  }
  &-add-to-cart {
    width: 100%;
    margin: 20px auto;
  }
}
.btn:hover {
  background-color: $primary-light;
}

body {
  background-color: $primary-bg;
  position: relative;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-size: 1.5em;
  background-color: #fff;
  &-cart {
    position: relative;
    // padding: 5px 0px;
    &-val {
      position: absolute;
      top: -15px;
      right: -8px;
      font-size: 0.9em;
      color: $primary-light;
    }
  }
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  transition: 0.5s ease-out;
  padding-top: 35px;
  z-index: 10;
  &-times {
    font-size: 1.4em;
    background-color: $secondary-color;
    color: #fff;
  }
  &-list {
    &-item {
      margin: 10px 0px;
    }
  }
}

.show-sidebar {
  width: 100%;
  padding-left: 25px;
}

.hero {
  position: relative;
  z-index: 1;
  img {
    width: 100%;
    height: 90vh;
  }
  &-text {
    position: absolute;
    top: 18vw;
    left: 3vw;
    color: $primary-color;
    // text-align: center;
    &-title {
      font-size: 4.5em;
    }
    &-quote {
      font-size: 2.1em;
    }
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.5;
}

.home {
  &-products {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    &-title {
      margin-top: 35px;
      font-size: 2em;
    }
  }
}

.car {
  margin: 35px 0px;
  background-color: #fff;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #777;
  &-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  &-detail {
    margin-top: 60px;
    p {
      margin: 5px;
    }
  }
}

.car:hover {
  .car-img-cont {
    position: relative;
  }
  .car-img-cont::before {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: #444;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.3;
  }
  .btn-car {
    display: block;
  }
}

.section {
  width: 90%;
  margin: 60px auto;
  text-align: center;
  &-header {
    font-size: 1.8em;
    color: $primary-color;
  }
  &-form {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 2px 2px 4px #777;
  }
}

.form {
  &-group {
    margin: 20px;
    text-align: left;
    label {
      display: block;
      // margin-bottom: 1px;
      color: $primary-color;
    }
    input {
      border: none;
      border-bottom: #000 1px solid;
      width: 90%;
      padding: 2px;
    }
    #name {
      width: 98%;
    }
    #card-num {
      width: 60%;
    }
    #month,
    #year {
      width: 11%;
    }
    #cvc {
      width: 12%;
    }
  }

  &-details {
    text-align: left;
    margin-left: 20px;
    color: $primary-color;
  }
  &-warning {
    color: $secondary-color;
    margin: 5px;
    margin-top: 20px;
  }
  &-link {
    color: $primary-color;
    text-decoration: underline;
  }
}

.about {
  &-details {
    margin-top: 25px;
    text-align: left;
  }
}

.loading {
  width: 10%;
  margin: 0px auto;
}

.profile {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #777;
  padding: 15px 0px;
  &-logo {
    font-size: 5em;
    color: $primary-light;
  }
  &-name {
    color: $primary-light;
    font-size: 1.7em;
  }
  &-orders {
    color: $secondary-color;
    margin-top: 60px;
    div {
      margin: 25px 0px;
      h4 {
        color: $primary-light;
      }
    }
  }
}

.details {
  width: 90%;
  margin: 50px auto;
  img {
    width: 100%;
  }
  &-article {
    text-align: left;
    &-name {
      font-size: 2.2em;
    }
    &-price {
      font-size: 1.8em;
    }
  }
}

.orderpage {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 0px;
  overflow-x: hidden;
  background-color: $secondary-bg;
  transition: 0.5s ease-out;
  z-index: 100;

  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    font-size: 2em;
    margin-top: 20px;
  }
  &-times {
    color: $secondary-color;
  }
  &-title {
    flex-grow: 1;
    margin-left: 38%;
  }
  &-checkout {
    width: 100%;
    // margin: 0px auto;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.show-orderpage {
  width: 100%;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  padding: 20px;
  img {
    width: 25%;
    border-radius: 20px;
  }
  &-details {
    flex: 1;
    text-align: left;
    margin-left: 15px;
  }
}

.modal {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  height: 0px;
  overflow: hidden;
  color: #fff;
  width: 250px;
  transition: 0.5s ease-in-out;
  text-align: center;
  z-index: 50;
  &-success {
    background-color: $primary-color;
  }
  &-fail {
    background-color: red;
  }
}
.show-modal {
  height: 40vh;
  top: 30vh;
}

.link {
  color: $secondary-color;
  font-style: italic;
}
