$primary-color: rgb(54, 3, 83);
$primary-bg: rgb(240, 237, 241);
$secondary-color: rgb(255, 81, 0);
$secondary-bg: rgb(245, 239, 237);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  display: inline-block;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #555;
  &-hero {
    width: 40%;
    height: 5vh;
    margin-top: 20px;
  }
}

body {
  background-color: $primary-bg;
  position: relative;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-size: 1.5em;
  background-color: #fff;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 35px;
  width: 0%;
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  transition: 0.5s ease-out;
  z-index: 10;

  &-times {
    font-size: 1.4em;
    background-color: $secondary-color;
    color: #fff;
  }
}

.show-sidebar {
  width: 100%;
  padding-left: 25px;
}

.hero {
  position: relative;
  z-index: 1;
  img {
    width: 100%;
    height: 90vh;
  }
  &-text {
    position: absolute;
    top: 18vw;
    left: 3vw;
    color: $primary-color;
    // text-align: center;
    &-title {
      font-size: 4.5em;
    }
    &-quote {
      font-size: 2.1em;
    }
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.5;
}

.home {
  &-products {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    &-title {
      margin-top: 35px;
      font-size: 2em;
    }
  }
}

.car {
  margin: 15px 0px;
  background-color: #fff;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #777;
  &-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  &-detail {
    margin-top: 60px;
    p {
      margin: 5px;
    }
  }
}

.car:hover {
  &-img {
    position: relative;
  }
  &-img::before {
    content: "Hello";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
  }
}
