@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600&family=Kaushan+Script&display=swap");

$primary-color: rgb(54, 3, 83);
$primary-light: rgb(181, 66, 248);
$primary-bg: rgb(240, 237, 241);
$secondary-color: rgb(255, 81, 0);
$secondary-bg: rgb(245, 239, 237);

$primary-font: "Catamaran", sans-serif;
$secondary-font: "Kaushan Script";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  display: inline-block;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  box-shadow: 2px 2px 4px #555;
  &-hero {
    width: 40%;
    height: 5vh;
    margin-top: 20px;
  }
  &-car {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    box-shadow: none;
  }
  &-submit {
    width: 90%;
    margin-bottom: 10px;
  }
  &-link {
    color: #fff;
    display: inline-block;
    width: 100%;
  }
  &-details {
    margin-bottom: 20px;
  }
  &-add-to-cart {
    width: 100%;
    margin: 20px auto;
  }
}
.btn:hover {
  background-color: $primary-light;
}

body {
  background-color: $primary-bg;
  position: relative;
  min-height: 100vh;
  font-family: $primary-font;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-size: 1.5em;
  background-color: #fff;
  &-title {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 2.8em;
  }
  &-cart {
    position: relative;
    &-val {
      position: absolute;
      top: -15px;
      right: -8px;
      font-size: 0.9em;
      color: $primary-light;
    }
  }
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  transition: 0.5s ease-out;
  padding-top: 35px;
  z-index: 10;
  &-times {
    font-size: 1.4em;
    background-color: $secondary-color;
    color: #fff;
  }
  &-list {
    &-item {
      margin: 10px 0px;
    }
  }
  &-title {
    font-family: $secondary-font;
    font-weight: 700;
  }
}

.show-sidebar {
  width: 100%;
  padding-left: 25px;
}

.navbar {
  display: none;

  &-list {
    display: flex;
    justify-content: space-between;
    &-item {
      margin-left: 20px;
      .navlink {
        padding: 2px 7px;
      }
      .navlink:hover {
        color: $primary-light;
      }
    }
  }
}

.navbaruser {
  display: none;
  justify-self: flex-end;
  margin-left: 80px;
  &-list {
    display: flex;
    justify-content: space-between;
    &-item {
      margin-left: 20px;
      .navlink {
        padding: 2px 7px;
      }
      .navlink:hover {
        color: $primary-light;
      }
      .signup {
        background-color: #333;
        border-radius: 5px;
        color: #fff;
      }
    }
  }
}

.hero {
  position: relative;
  z-index: 1;
  img {
    width: 100%;
    height: 90vh;
  }
  &-text {
    position: absolute;
    top: 18vw;
    left: 3vw;
    color: $primary-color;
    // text-align: center;
    &-title {
      font-family: $secondary-font;
      font-size: 4.5em;
    }
    &-quote {
      font-size: 2.1em;
    }
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.5;
}

.home {
  &-products {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    &-title {
      font-family: $secondary-font;
      font-weight: 700;
      margin-top: 55px;
      margin-bottom: 15px;
      font-size: 2em;
    }
  }
}

.car {
  background-color: #fff;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #777;
  width: 80vw;
  margin: 35px auto;
  &-img {
    width: 100%;
    height: 50vw;
    border-radius: 10px 10px 0px 0px;
  }
  &-detail {
    margin-top: 60px;
    p {
      margin: 5px;
    }
  }
  &-name {
    font-family: $secondary-font;
    font-weight: 700;
  }
}

.car:hover {
  .car-img-cont {
    position: relative;
  }
  .car-img-cont::before {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: #444;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.3;
  }
  .btn-car {
    display: block;
  }
}

.products {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  &-header {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 2.2em;
    color: $primary-color;
    margin-top: 65px;
    margin-bottom: 15px;
  }
}

.section {
  width: 90%;
  margin: 60px auto;
  text-align: center;
  &-header {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 2.2em;
    color: $primary-color;
  }
  &-form {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 2px 2px 4px #777;
  }
}

.form {
  &-group {
    margin: 20px;
    text-align: left;
    label {
      display: block;
      // margin-bottom: 1px;
      color: $primary-color;
    }
    input {
      border: none;
      border-bottom: #000 1px solid;
      width: 90%;
      padding: 2px;
    }
    #name {
      width: 98%;
    }
    #card-num {
      width: 60%;
    }
    #month,
    #year {
      width: 11%;
    }
    #cvc {
      width: 12%;
    }
  }

  &-details {
    text-align: left;
    margin-left: 20px;
    color: $primary-color;
  }
  &-warning {
    color: $secondary-color;
    margin: 5px;
    margin-top: 20px;
  }
  &-link {
    color: $primary-color;
    text-decoration: underline;
  }
}

.about {
  &-details {
    margin-top: 25px;
    text-align: left;
  }
}

.loading {
  width: 10%;
  margin: 0px auto;
}

.profile {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #777;
  padding: 15px 0px;
  &-logo {
    font-size: 9em;
    color: $primary-light;
  }
  &-name {
    color: $primary-light;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 2.5em;
  }
  &-orders {
    color: $secondary-color;
    margin-top: 60px;
    div {
      margin: 25px 0px;
      h3 {
        font-size: 1.8em;
      }
      h4 {
        color: $primary-light;
        font-size: 1.1em;
      }
    }
  }
}

.details {
  width: 90%;
  margin: 50px auto;
  img {
    width: 100%;
  }
  &-cont {
    margin-top: 20px;
  }
  &-article {
    text-align: left;
    &-name {
      font-family: $secondary-font;
      font-weight: 700;
      font-size: 2.2em;
    }
    &-price {
      font-size: 1.8em;
    }
  }
}

.orderpage {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 0px;
  overflow-x: hidden;
  transition: 0.5s ease-out;
  z-index: 10;
  display: flex;
  &-bg {
    background-color: #444;
    width: 00%;
    height: 100vh;
    overflow: hidden;
    opacity: 0.3;
  }
  &-details {
    background-color: $secondary-bg;
    height: 100vh;
    width: 100%;
  }
  &-container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    z-index: 50;
  }
  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
  }
  &-times {
    color: $secondary-color;
  }
  &-title {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 1.2em;
    flex-grow: 1;
  }
  &-checkout {
    width: 100%;
    margin-top: 15vh;
    &-total {
      font-size: 1.6em;
      text-align: center;
    }
  }
  &-empty {
    text-align: center;
    margin-top: 20px;
  }
  &-login {
    text-align: center;
  }
}
.show-orderpage {
  width: 100%;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  padding: 10px;
  img {
    width: 25%;
    border-radius: 20px;
  }
  &-details {
    flex: 1;
    text-align: left;
    margin-left: 15px;
  }
}

.modal {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  height: 0px;
  overflow: hidden;
  color: #fff;
  width: 250px;
  transition: 0.5s ease-in-out;
  text-align: center;
  z-index: 50;
  &-success {
    background-color: $primary-color;
  }
  &-fail {
    background-color: red;
  }
}
.show-modal {
  height: 40vh;
  top: 30vh;
}

.link {
  color: $secondary-color;
  font-family: $secondary-font;
  font-weight: 700;
}

@media (min-width: 622px) {
  .hero {
    &-text {
      &-title {
        font-family: $secondary-font;
        font-size: 6.5em;
      }
      &-quote {
        font-size: 2.1em;
      }
    }
  }
  .home {
    .home-products-cars {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .car {
    width: 43%;
    margin: 15px;
    &-img {
      height: 30vw;
    }
  }

  .products {
    width: 85%;
    .products-list {
      display: flex;
      justify-content: normal;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
    }
  }

  .section {
    width: 85%;
  }

  .orderpage-container {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .orderpage {
    &-bg {
      flex: 1;
    }
    &-details {
      width: 480px;
    }
  }
}

@media (min-width: 950px) {
  .car {
    width: 29%;
    &-img {
      height: 23vw;
    }
  }

  .section {
    width: 55%;
  }

  .orderpage-container {
    width: 85%;
  }
}

@media (min-width: 992px) {
  .header {
    &-bars {
      display: none;
    }
  }
  .sidebar {
    display: none;
  }
  .navbar {
    display: block;
  }
  .navbaruser {
    display: block;
  }
  .active {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #777;
  }

  .details {
    width: 90%;
    &-cont {
      display: flex;
      justify-content: space-between;
      img {
        width: 47%;
        height: 50vh;
        border-radius: 5px;
      }
      .details-article {
        // width: 47%;
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .car {
    width: 22%;
    &-img {
      height: 19vw;
    }
  }

  .section {
    width: 40%;
  }

  .details {
    width: 75%;
  }
}
